{% extends "pizzas/base.html" %} 
{% load static %}
{% block content %}
<style>
    .center {
      margin: auto;
      width: 8%;
      border: 10px solid green;
      padding: 15px;
      background-color: whitesmoke;
    }
    body{
        background-image: url("https://th.bing.com/th/id/OIP.hFrQcFUmE0AXbSTgUo0oaQHaE8?w=285&h=190&c=7&r=0&o=5&pid=1.7");
    }
    .textarea {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class='center'>
    <form action='.' method='POST'> {% csrf_token %}
        <div class="title">
            <div>
                <p>Caleb's Pizzeria</p>
            </div>
        </div>
    
{% endblock content %}