{% extends "pizzas/base.html" %} 


{% block content %}

<p> 
    Toppings: {{ pizza_name }} 
</p>

<ul>
    {% for t in toppings %}
    
        
    <li>
        <p> {{ t.topping_name }} </p>
    </li>
    
    {% empty %} 
    <li> There are no options for this pizza.</li>
    {% endfor %}

</ul>
<ul>

    <a href="{% url 'pizzas:comments'  %}">Add a comment</a>

</ul>

<body>
    <img alt="Pizza" src=https://th.bing.com/th/id/OIP.ZAaoAHT38cD5MUv-6JF6xAHaEK?w=289&h=180&c=7&r=0&o=5&pid=1.7>
</body>

<style>
    body {
        background-color: rgba(235, 161, 147, 0.33);
    }
</style>

{% endblock content %}